#nav {
  position: absolute;
  z-index: 99;
  top: 139px;
  left: 53px;
    li {      
      margin-bottom: 20px;
      a {		
        color: #fff;
        font-size: 18px;
        line-height: 1.11;
		  span {
			  font-family: @txt-GothaProLight;
		  }
      }
  }
}
