@import "base";

#wrapper {
	min-height: calc(~ "100vh - 50px" );
}
#footer {
	height: 50px;
}
.section {
	width: 100%;
	height: 100vh; // TODO: убрать
}
/* background
================*/
.bg-index {
	background: url(../images/bg-index.png) no-repeat;
	background-size: cover;
}


// ========== @MEDIA ==========
@import "media";
