extends ./tmp/_template.jade
block title
    title Главная
block content
    +header()
    ul#nav
      li.activ(data-menuanchor="s1")
        a(href="#s1")
          span О нас
      li(data-menuanchor="s2")
        a(href="#s2")
          span АЗС
      li(data-menuanchor="s3")
        a(href="#s3")
          span Услуги
      li(data-menuanchor="s4")
        a(href="#s4")
          span Оборудование
      li(data-menuanchor="s5")
        a(href="#s5")
          span Клиент
      li(data-menuanchor="s6")
        a(href="#s6")
          span Автомойка
      li(data-menuanchor="s7")
        a(href="#s7")
          span AMBERCARD
      li(data-menuanchor="s8")
        a(href="#s8")
          span Веб сайт
      li(data-menuanchor="s9")
        a(href="#s9")
          span Карта
    #fullpage         
        .section.bg-index.about(data-anchor="s1")
          .container
            .center
              h1 Сеть автомоек и АЗС в Новосибирске «Янтарь»
              p  Компания «Янтарь» существует на рынке автомобильных услуг с 1998 года. С самого начала своей деятельности, качество услуг и уровень сервиса ыли приоритетными направлениями в работе компании. С того момента мы приобрели большой опыт в сфере обслуживания автотранспорта.
          .arrowe
        .section.bg-index.azc(data-anchor="s2")
          .container
            .center
              h1 Азс
              .azc__wrap 
                img.azc__img(src="/images/icons/azc.svg")
                span.azc__text Своим клиентам мы предоставляем на выбор следующие виды&nbsp;топлива:
              div.azc__benz 
                span ДТ 
                span 92 
                span 95 
                span 98
            .gzp
              img.gzp__img(src='/images/gazprom.png')
              span Официальный поставщик топлива для сети АЗС «Янтарь» 
          .arrowe
        .section.bg-index.services-layout
          .container     
            .center
              p  На данный момент в Новосибирске работают 3 первоклассные автомойки «Янтарь»,<br>предоставляющие комплекс услуг по уходу за внешним видом автомобиля:
              .services-wrap
                .left
                  ul.services
                    li
                      img(src='/images/icons/bucket.svg')
                      span Безопасная мойка кузова
                    li
                      img(src='/images/icons/mop.svg')
                      span Мойка двигателя с диэлектриком
                    li
                      img(src='/images/icons/blob.svg')
                      span Твердый воск
                .right
                  ul.services
                    li
                      img(src='/images/icons/blob.svg')
                      span Химчистка «Торнадор»
                    li
                      img(src='/images/icons/bucket.svg')
                      span Восстановительная полировка
                    li
                      img(src='/images/icons/mop.svg')
                      span Нанопокрытия
              div И многие другие
          .arrowe
        .section.bg-gray.equipment
          .container
            .center
              p При оборудовании автомоек мы сделали ставку на качество оборудования и расходных материалов.
          .arrowe        
        .section.bg-index.client
          .container
            .center
              p Свои автомобили нам доверило множество компаний:
            #perspective
              #carousel
                figure
                  img(src='/images/logos/danone.png', alt="danone")
                figure
                  img(src='/images/logos/gazprom.png', alt="gazprom")
                figure
                    img(src='/images/logos/metro.png', alt="metro") 
                figure
                    img(src='/images/logos/sber.png', alt="sber")
                figure
                    img(src='/images/logos/unicredit.png', alt="unicredit")               
          .arrowe
        .section.bg-wash.wash
          .container
            .center
              p Попасть на автомойку без очереди можно предварительно записавшись:
              button.button-popup
                span Записаться на мойку
          .arrowe
        .section.bg-card.ambercard
          .container
            .center
              p В ближайшем будущем все наши продукты мы объединим в бонусную систему «AMBERCARD».*
            .note
              span *Получить бонусную карту можно будет на любой автомойке или АЗС группы компаний «Янтарь»
          .arrowe
        .section.bg-index.web-layout
          .container
            .center
              .web
                .left
                  p Совсем скоро мы представим новый сайт с возможностью онлайн записи на обслуживание вашего автомобиля.
                .right
                  img(src="/images/adaptive-phone.png")
            .footer
              span © 2016, ООО «Янтарь» 
              span.copy Все права защищены.
              a(href="http://machineheads.ru/") Разработка сайта: 
                span Machineheads
          .arrowe
        .section.mapp-layout
          #map
              

block hidden
